<div class="alert alert-info">
    <h1 class="mx-auto" style="width: 450px">Usuario: {{user.nombre}} {{user.apellido}}</h1>
</div>

<div style="display: flex" class="mx-auto text-center">
    <div id="container" class="mx-auto border border-info text-center p-4"
        style="display: flex; flex-direction: column">
        <p><strong>Nombre:</strong> {{user.nombre}}</p>
        <p><strong>Apellido:</strong> {{user.apellido}}</p>
        <p><strong>Email:</strong> {{user.email}}</p>
        <p><strong>Id:</strong> {{user._id}}</p>
    </div>
</div>